@font-face {
    font-family: 'Rubik';
    src: url('../assets/fonts/subset-Rubik-Black.woff2') format('woff2'),
        url('../assets/fonts/subset-Rubik-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../assets/fonts/subset-Rubik-BoldItalic.woff2') format('woff2'),
        url('../assets/fonts/subset-Rubik-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../assets/fonts/subset-Rubik-Bold.woff2') format('woff2'),
        url('../assets/fonts/subset-Rubik-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../assets/fonts/subset-Rubik-BlackItalic.woff2') format('woff2'),
        url('../assets/fonts/subset-Rubik-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../assets/fonts/subset-Rubik-ExtraBold.woff2') format('woff2'),
        url('../assets/fonts/subset-Rubik-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../assets/fonts/subset-Rubik-Light.woff2') format('woff2'),
        url('../assets/fonts/subset-Rubik-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../assets/fonts/subset-Rubik-ExtraBoldItalic.woff2') format('woff2'),
        url('../assets/fonts/subset-Rubik-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../assets/fonts/subset-Rubik-Italic.woff2') format('woff2'),
        url('../assets/fonts/subset-Rubik-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../assets/fonts/subset-Rubik-LightItalic.woff2') format('woff2'),
        url('../assets/fonts/subset-Rubik-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../assets/fonts/subset-Rubik-Regular.woff2') format('woff2'),
        url('../assets/fonts/subset-Rubik-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../assets/fonts/subset-Rubik-Medium.woff2') format('woff2'),
        url('../assets/fonts/subset-Rubik-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../assets/fonts/subset-Rubik-MediumItalic.woff2') format('woff2'),
        url('../assets/fonts/subset-Rubik-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../assets/fonts/subset-Rubik-SemiBoldItalic.woff2') format('woff2'),
        url('../assets/fonts/subset-Rubik-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../assets/fonts/subset-Rubik-SemiBold.woff2') format('woff2'),
        url('../assets/fonts/subset-Rubik-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

