.logo {
  display: flex;
  align-items: center;
  gap: 5px;
}

.logo-icon {
  max-width: 45px;
}

.logo-text {
  font-weight: 700;
  font-size: 20px;
}

@media (min-width: 1024px) {
  .logo-icon {
    max-width: 60px;
  }

  .logo-text {
    font-size: 22px;
  }
}
